.imprintPage {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 24px;
}

.imprintText {
  width: 100%;
  max-width: 36rem;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  .imprintText h1 {
    color: #fafafa;
  }
  .imprintText h2 {
    color: #fafafa;
  }
  .imprintText h3 {
    color: #fafafa;
  }
}
