.interests {
  padding: 5px;
  justify-content: center;
  flex-flow: row wrap;
  display: flex;
  -moz-box-pack: center;
}

.interestBtn {
  margin: 5px;
  width: 15.625rem;
  min-width: 144px;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border: 0.125rem solid rgb(28, 28, 28);
  border-radius: 1rem;
  background: rgb(250, 250, 250);
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
}

.interestBtnMore {
  margin: 5px;
  width: 15.625rem;
  min-width: 144px;
  height: 3rem;
  display: flex;
  border-radius: 1rem;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  opacity: 1;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  cursor: pointer;
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
}

.loadMore {
  width: 15.625rem;
  height: 3rem;
  background-color: rgb(18, 18, 18);
  color: rgb(250, 250, 250);
  padding: 1rem;
  margin: 0px;
  font-size: 0.876rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 1rem;
  text-decoration: none;
  text-align: left;
  appearance: button;
}

.loadMore:active {
  cursor: pointer;
}

.loadMore:focus {
  cursor: pointer;
  outline: none;
}

.loadMore:hover {
  cursor: pointer;
}

.interestIco {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.skills {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  padding-right: 0px;
  padding-left: 0px;
}

@media (prefers-color-scheme: dark) {
  .interestBtn {
    border: 0.125rem solid rgb(250, 250, 250);
    border-radius: 1rem;
    background: rgb(28, 28, 28) none repeat scroll 0% 0%;
  }

  .loadMore {
    background-color: rgb(250, 250, 250);
    color: rgb(18, 18, 18);
  }

  .next {
    filter: invert(1);
    -webkit-filter: invert(1);
  }
}
