.mainNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topLinks {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 31.25rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin: 0px 0px 0px 1.25rem;
  padding: 0px;
  flex-direction: row;
}

.contactBtn {
  width: auto;
  height: auto;
  font-weight: 700;
  border-radius: 1rem;
  border: 0.125rem solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: all 20ms ease-out 0s;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  margin: 0px;
}

.contactBtn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.logo {
  text-decoration: none;
  position: relative;
  z-index: 9999999;
  font-size: 2rem;
  font-weight: 900;
  color: rgb(0, 0, 0);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
}

.container {
  content: '';
  display: none;
  width: 0px;
  height: 0px;
}

.sideBarHide {
  content: '';
  display: none;
  width: 0px;
  height: 0px;
}

.sideBarNav a {
  font-size: 1.5rem;
  margin: 16px 0;
}

@media only screen and (max-width: 992px) {
  .topLinks {
    content: '';
    display: none;
    width: 0px;
    height: 0px;
  }

  .sideBar {
    display: block;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100vh;
    outline: currentcolor none 0px;
    z-index: 999999;
    transition: all 0.3s ease-in-out 0s;
    transform: translateX(0px);
    visibility: visible;
  }

  .sideBarNav {
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    height: 100vh;
    width: 55%;
    text-align: left;
    padding: 2rem;
    position: relative;
    right: 0px;
    margin-left: auto;
    -moz-box-align: center;
    align-items: center;
  }

  .sideBarNav {
    font-weight: 700;
  }

  .sideBarBackDrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
    z-index: 9999;
    transition: all 0.3s ease-in-out 0s;
    display: block;
  }

  .container {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding-right: 24px;
    z-index: 9999999;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 0.625rem;
  }

  .change1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change2 {
    opacity: 0;
  }

  .change3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

@media (prefers-color-scheme: dark) {
  .sideBarNav {
    background: rgb(18, 18, 18) none repeat scroll 0% 0%;
  }

  .logo {
    color: #dcdcdc;
  }

  .logoA {
    color: white;
  }

  .topLinks a:hover {
    color: white;
  }

  .contactBtn {
    background: rgb(18, 18, 18);
    color: rgb(250, 250, 250);
    border: 0.125rem solid rgb(250, 250, 250);
    transition: all 20ms ease-out 0s;
    -webkit-transition: all 20ms ease-out 0s;
    -moz-transition: all 20ms ease-out 0s;
    -ms-transition: all 20ms ease-out 0s;
    -o-transition: all 20ms ease-out 0s;
  }

  .contactBtn:hover {
    background: rgb(250, 250, 250) none repeat scroll 0% 0%;
    color: rgb(18, 18, 18) !important;
  }

  .bar1,
  .bar2,
  .bar3 {
    background-color: rgb(250, 250, 250);
  }
}
